<html><head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: purple;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: black;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="violet">
     <ul>
        <li><a class="active" href="insert.html">ADD TO CART</a></li>
        </div>
        <li><a href="retrieve.html">RETRIEVE CART</a></li>
        <li><a href="update.html">UPDATE CART</a></li>
        <li><a href="deleteselected.html">DELETE FROM CART</a></li>
    </ul><br><br><br><br><br><br><br><br>

    <br><br><br><br>
    <div align="center"  ng-app="myApp" ng-controller="ctrl">
        <div style="width:350px; border: solid 1px purple; " align="left">
            <div style="background-color:purple; color:#FFFFFF; padding:3px;"><b>ADD TO CART</b></div>

            <div style="margin:30px">

                <form>
                    <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                    <label>Email  &nbsp;&nbsp;&nbsp;:</label><input ng-model="email" class="box" /><br/><br />
                    <label>Mobile  &nbsp;:</label><input ng-model="mob" class="box" /><br /><br />
					<label>Itemname:</label><input ng-model="item" class="box" /><br /><br />
                    <label>Quantity:</label><input ng-model="quantity" class="box" /><br/><br />
                    <label>Itemprice:</label><input ng-model="price" class="box" /><br/><br />
                    <center><input type="button" value="OK" ng-click="myFunc()"/></center>
                </form>


                <p>{{ names }}</p>
            </div>

        </div>

    </div>


    <script>
                          var app = angular.module('myApp', []);
                          app.controller('ctrl', function ($scope, $http) {
                              $scope.myFunc = function() {
                                  alert("Do you want to insert ?");
                          var name=$scope.name;
                          var email=$scope.email;
                          var mob=$scope.mob;
						  var item=$scope.item;
                          var quantity=$scope.quantity;
                          var price=$scope.price;
                              var req = {
                                  method: 'POST',
                                  url: 'http://localhost:3000/data',
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name,
                          email: email,
                          mob:mob,
						  item:item,
                          quantity:quantity,
                          price:price                       }
                              }

                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;
                                      alert($scope.names);
                         });
                                  };

                  });
        </script>

<br><br><br><br><br><br>


            </body>
                </html>
